
      h1,
      h2,
      h3,
      p {
        text-align: center;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        font-weight: lighter;
      }

     body {
        background: linear-gradient(to top, rgb(172, 95, 155),   #e69474, #fcd6ac) 
      }
      h1 {
        color: #8a3030;
        font-size: 40px;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        font-weight: lighter;
        line-height: 48px;
        margin: 0;
  
      }

      h2 {
        display: block;
        margin: 0;
        font-size: 18px;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        text-decoration-color:  #570353;
        line-height: 35px;
        font-weight: lighter;
        border: 1px solid #8a3030;
        border-width: 400;
        border-radius: 4px;
        max-width: center 40%
      }
      h3 {
          font-size: 18px;
      }
      a {
          color: #570353;
      }

      ul {
        padding: 0;
      }

      li {
        list-style: none;
        text-align: center;
        padding: 1px 0;
        line-height: 10px;
        border-radius: 10px;
        transition: all 250ms ease-in-out;
        max-width: 400px;
        margin: 0 auto;
      }

      li:hover {
        background: #e69474;
        font-weight: lighter;
      }

      p {
        font-size: 14px;
        text-decoration-color: #570353;
        text-align: center;
        font-family: 'Franklin Gothic', Arial, sans-serif;
        font-weight:lighter;
      }

      button {
        display: block;
        font-family: 'arabic typsetting', Arial, sans-serif;
        font-weight: lighter;
        margin: 20px auto;
        border: 1px solid #8a3030;
        background: #8a3030;
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        padding: 11px 12px;
        border-radius: 25px;
        transition: all 200ms ease;
        box-shadow: none;
        cursor: pointer; 
      }

      button:hover {
        background-color: #e69474;
        color:  #8a3030;
        text-decoration: thick;
        font-size: 18px;
        border: 1px solid  #8a3030;
        box-shadow:5px 5px 5px color #570353;
      }
      img {
  display: block;
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
  border: 4px #e69474;
  border-radius: 4px;
}
.container {
    max-width: 100%
}
.links {
    display: block;
    text-decoration: none;
    font-weight: lighter;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
.links:hover {
text-decoration:  #570353;
text-shadow: color rgb(112, 78, 109);
transition: all 100ms ease;
}
